<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>EDIT EMPLOYEE</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-nav">
      <a href="/list" class="header-logo">EMPLOYEES MANAGEMENT</a>
      <p>Login name: <%= locals.username %>.</p>
    </div>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Edit employee<h1>
    </div>
    <div class="employee-form-wrapper">
      <form action="/update/<%= item.id %>" method="post">
        <p class="form-label">Name</p>
        <input type="text" value="<%= item.name %>" name="itemName">
        <p class="form-label">Department</p>
        <input type="text" value="<%= item.department %>" name="itemDepartment">
        <input type="submit" value="Update">
      </form>
    </div>
    <div class="bottom-buttons">
      <a href="/fromEdit" class="cancel-button">Cancel</a>
      <div class="item-menu">
        <form action="/delete/<%= item.id %>" method="post">
          <input type="submit" value="DELETE">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
