<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>検索結果</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('header.ejs'); %>
  <div class="container">
    <div class="container-header-search">
      <h2>社員名検索</h2>
      <form action="/search" method="post">
        <input type="text" name="searchName">
        <input type="submit" value="検索">
      </form>
    </div>
    <div class="container-header">
      <h1>検索結果</h1>
    </div>
    <p>検索ワード「<%= word%>」</p>
    <div class="index-table-wrapper">
      <div class="table-head">
        <span class="id-column">ID</span>
        <span class="name-column">名前</span>
        <span>部署名</span>
        </tr>
      </div>
      <ul class="table-body">
        <% items.forEach((item) => { %>
          <li>
            <div class="item-data">
              <span class="id-column"><%= item.id %></span>
              <span class="name-column"><%= item.name %></span>
              <span class="department-column"><%= item.department %></span>
            </div>
            <div class="item-menu">
              <a href="/edit/<%= item.id %>">編集</a>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
    <a href="/list" class="cancel-button">一覧表示</a>
  </div>
</body>
</html>
